@font-face {
    font-family: 'Stag';
    font-style: normal;
    font-weight: 400;
    src: local('Stag Book'), url('../fonts/STAG-BOOK_0.woff') format('woff');
}

@font-face {
    font-family: 'Stag';
    font-style: normal;
    font-weight: 500;
    src: local('Stag Medium'), url('../fonts/STAG-MEDIUM_0.woff') format('woff');
}

@font-face {
    font-family: 'Stag';
    font-style: normal;
    font-weight: 700;
    src: local('Stag Bold'), url('../fonts/STAG-BOLD_0.woff') format('woff');
}
